.box {
    background-color: #000;
    width: 150px;
    height:0;
    margin: 25px;
    animation-name: growing;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}
a {
   color: #e86610;
   font-size:16px;
   text-decoration: none;
}
.link {
transition-property: color;
transition-duration: 1s;
transition-timing-function: ease-in-out;
/* shorthand för det är :
transition color 1s ease-in-out;*/
}

.link:hover {
    color: black;
}

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height:150px;
    }
}